/* ==UserStyle==
@name           Goodreads personal modifications (addons and sizes only)
@namespace      github.com/holyspiritomb
@version        1.22.9-5.0
@description    Making goodreads look nicer for me on my phone
@author         holyspiritomb
@homepageURL	https://github.com/holyspiritomb/personal-userstyles/blob/main/goodreads-min.user.css
@updateURL		https://github.com/holyspiritomb/personal-userstyles/raw/main/goodreads-min.user.css
@var text		mobile-font-size "Mobile site font size" 12pt
@var text		desktop-font-size "Desktop site font size" 18pt
@var text		default-font "Default font" Lato
==/UserStyle== */

@-moz-document url-prefix("https://www.goodreads.com/") {
    @media (min-width: 981px) {
        div.content {
            margin: auto;
            box-sizing: border-box;
        }
    }
    @media (min-width: 1200px) {
        main.PageFrame__main.BookPage {
            max-width: 90vw;
        }
    }
    main.PageFrame__main.BookPage,
    div.pageContent{
        background-color:rgba(0,0,0,0.5);
        border-radius:5px;
        padding:10px;
        box-sizing:border-box;
    }
    html.mobile[style],
    html.mobile div.siteHeader,
    html.withSiteHeaderTopFullImage .siteHeaderBottomSpacer,
    html.withAppInstallationBanner .siteHeader {
        top:0px !important;
        margin-top:0px !important;
    }
    html.withSiteHeaderTopFullImage .siteHeaderBottomSpacer{
        padding-bottom:6rem !important;
    }
    html.mobile {
        font-size: var(--mobile-font-size);
        line-height: calc(2*var(--mobile-font-size));
    }
    html.desktop * {
        font-size: var(--desktop-font-size);
        line-height: calc(2*var(--desktop-font-size));
    }
    #bookTitle,
    h1.bookTitle cite,
    cite.bookTitle,
    #bookAuthors .authorName,
    #bookAuthors .by,
    #description,
    h1,
    h1[data-testid="bookTitle"],
    .gr-h1--serif,
    .gr-h2--serif,
    .gr-h3--serif,
    .gr-h4--serif,
    .gr-h5--serif,
    span.ContributorLink__name[data-testid="name"],
    .readable,
    .readable p,
    .readable ol,
    .readable ul,
    .readable td,
    .readable th,
    * {
        font-family: var(--default-font), Roboto, sans-serif !important;
    }
    h2.brownBackground,
    h2.brownBackground a {
        font-size: var(--desktop-font-size) !important;
    }
    #bookTitle {
        font-size: calc(2*var(--desktop-font-size));
    }
    h1.bookTitle,
    h1.bookTitle cite,
    cite.bookTitle {
        font-size: calc(2*var(--mobile-font-size));
    }
}

@-moz-document url-prefix("https://www.goodreads.com/review/list/") {
    /* my booklists */
    html.desktop table#books {
        width: 100% !important;
        box-sizing: border-box;
    }
    /* to make the page stay a certain width on my phone */
    form#perPageForm,
    form#sortForm,
    div#reviewPagination {
        display: block;
    }
}

@-moz-document url-prefix("https://www.goodreads.com/book/") {
    /* single book page */
    #premiumAdTop,
    span#rating_graph,
    div#choiceBadge,
    div#flashContainer,
    div#smartbanner {
        display: none;
    }
}
