/* ==UserStyle==
@name           Goodreads personal modifications
@namespace      github.com/holyspiritomb
@version        1.22.7-16.5
@description    Making goodreads look nicer for me on my phone
@author         holyspiritomb
@homepageURL	https://github.com/holyspiritomb/personal-userstyles/blob/main/goodreads.user.css
@updateURL		https://github.com/holyspiritomb/personal-userstyles/raw/main/goodreads.user.css
@var text		mobile-font-size "Mobile site font size" 12pt
@var text		desktop-font-size "Desktop site font size" 22pt
@var text		default-font "Default font" Lato
==/UserStyle== */

@-moz-document url-prefix("https://www.goodreads.com/") {
    @media (max-width: 980px) {
        div.content {
            width: 95vw;
            margin: auto;
            box-sizing:border-box;
        }
    }
    @media (min-width: 981px) {
        div.content {
            width: 960px;
            margin: auto;
            box-sizing:border-box;
        }
    }
    html.mobile * {
        font-size: var(--mobile-font-size);
        line-height: calc(2*var(--mobile-font-size));
    }
    html.desktop * {
        font-size: var(--desktop-font-size);
        line-height: calc(2*var(--desktop-font-size));
    }
    html.withSiteHeaderTopFullImage .siteHeaderBottomSpacer {
        padding-bottom: 7rem;
    }
    html:not(.mobile) ul.siteHeader__menuList>li.siteHeader__topLevelItem>a,
    html:not(.mobile) ul.siteHeader__menuList>li.siteHeader__topLevelItem>div>a>span {
        line-height: calc(1.5*var(--desktop-font-size));
        font-size: calc(0.75*var(--desktop-font-size));
    }
    #bookTitle,
    h1.bookTitle cite,
    cite.bookTitle,
    #bookAuthors .authorName,
    #bookAuthors .by,
    #description,
    h1,
    * {
        font-family: var(--default-font), Roboto, sans-serif !important;
    }
    h2.brownBackground,
    h2.brownBackground a {
        font-size: var(--desktop-font-size) !important;
    }
    span.headerPersonalNav__flag {
        display: none;
    }
    #bookTitle {
        font-size: calc(2*var(--desktop-font-size));
    }
    div.libraryExtension,
    div.libraryExtension #libraryUserMessage {
        font-family: var(--default-font), unset !important;
        background-color: unset !important;
        color: #666 !important;
    }
    div.libraryExtension #libraryUserMessage {
        border: unset !important;
    }
    div.libraryExtension {
        border-bottom: 1px solid #555 !important;
        border-top: 1px solid #555 !important;
        border-left: 0 !important;
        border-right: 0 !important;
        background: unset !important;
        box-sizing:border-box;
    }
    div.libraryExtension .libSearch {
        background: -webkit-linear-gradient(top, #111111 0%, #333333 100%) !important;
        background: linear-gradient(top, #111111 0%, #333333 100%) !important;
        border: unset !important;
        font-size: unset !important;
        color: #49fb97 !important;
        box-sizing:border-box;
    }
    div.bigBox[style] {
        border-bottom: 0 !important;
        border-top: 1px solid #555 !important;
        box-sizing:border-box;
    }
    div.libraryExtension a,
    div.libraryExtension .libextTitle,
    div.libraryExtension a.libTitle:link,
    div.libraryExtension .Library,
    div.ondemand a.libSearch.searchOne {
        color: #49fb97 !important;
        font-family: unset !important;
    }
    div.libraryExtension .libextTitle {
        padding-top: 10px;
        padding-bottom: 10px;
        font-size: large !important;
        text-decoration: underline;
        font-weight: bold;
    }
    img.AGaudio {
        /* bc i use dark themes */
        filter: invert(100%);
    }
    html.desktop img.AGaudio {
        height: calc(var(--desktop-font-size)/2) !important;
        width: calc(var(--desktop-font-size)/2) !important;
    }
    html.mobile img.AGaudio {
        height: calc(var(--mobile-font-size)/2) !important;
        width: calc(var(--mobile-font-size)/2) !important;
    }
    html.desktop a[href^="http://libgen.rs"] img {
        height: calc(1.25*var(--desktop-font-size));
        width: calc(1.25*var(--desktop-font-size)) !important;
        image-rendering: crisp-edges;
        display: none;
    }
    a[href^="http://libgen.rs"]::after {
        content: '\2193';
        color: #111;
        background-color: #fff;
        font-size: var(--desktop-font-size);
        line-height: calc(2*var(--desktop-font-size));
        font-family: "Noto Sans", monospace;
        padding: calc(var(--desktop-font-size)*0.85);
        clip-path: circle(25%);
        position: relative;
        bottom: calc(var(--desktop-font-size)*0.25);
        display: inline-block;
    }
    a[href^="http://libgen.rs"]::after:active {
        background-color: #f00;
    }
    html.mobile a[href^="http://libgen.rs"] img {
        height: calc(2*var(--mobile-font-size));
        width: calc(2*var(--mobile-font-size)) !important;
        image-rendering: crisp-edges;
    }
    html.mobile tbody#booksBody {
        line-height: calc(2*var(--mobile-font-size));
        box-sizing:border-box;
    }
    html:not(.mobile) tbody#booksBody {
        line-height: calc(2*var(--desktop-font-size));
        box-sizing:border-box;
    }
    /* display which library has the book */
    html.desktop td.AGcol>div::before,
    td.AGAVAILSINGLEBOOK>div::before {
        content: attr(class)":";
        font-weight: bold;
    }
    html.desktop footer.responsiveSiteFooter,
    .siteHeader__topFullImageContainer {
        display: none;
    }
}

@-moz-document url-prefix("https://www.goodreads.com/list/show/") {
    /* listopia */
    div.rightContainer {
        display: none;
    }
    html.desktop .content {
        width: 100%;
        box-sizing:border-box;
    }
    html.desktop .mainContentContainer,
    html.desktop .mainContentContainer .mainContent,
    html.desktop .mainContentContainer .mainContent .mainContentFloat .leftContainer {
        width: 100%;
        box-sizing:border-box;
    }
    html.desktop .mainContentContainer .mainContent .mainContentFloat {
        width: 92%;
        box-sizing:border-box;
    }
}

@-moz-document url-prefix("https://www.goodreads.com/review/list/") {
    /* my booklists */
    div#flashContainer,
    div#leaderCol,
    div#leadercol div.myBooksNav>ul>li>a:not(#shelfSettingsLink),
    div#leadercol :is(div.myBooksNav > ul > li > span, div#header),
    div.myBooksSearch,
    /*div#leadercol,*/
    div#leftCol,
    div#side,
    :is(td.field, th.header) :is(.actions, .avg_rating, .date_added, .date_pub, .date_pub_edition, .asin, .format, .rating) {
        display: none;
    }
    html.desktop .mainContentContainer .mainContent,
    div#leadercol {
        width: 100% !important;
        box-sizing:border-box;
    }
    html.desktop .mainContentContainer .mainContent .mainContentFloat {
        width: 92% !important;
        box-sizing:border-box;
    }
    .siteHeaderBottomSpacer {
        display: block;
    }
    html.withSiteHeaderTopFullImage .siteHeaderBottomSpacer {
        padding-bottom: 7rem;
    }
    /* to prevent Available Reads and Available Reads 2 on mobile from displaying their search results multiple times */
    /* this is cosmetic and not actually preventing it from re-running search on already-searched books */
    html.mobile li[id^="book_list_item_"]>div[id]:not(:nth-child(5)) {
        display: none;
    }
    ul.personalNav>li:not(:last-child) {
        display: none;
    }
    #AGtable .AGAVAIL,
    .libraryExtension {
        font-size: var(--mobile-font-size) !important;
        box-sizing:border-box;
    }
    div.libraryExtension {
        width: 100% !important;
        box-sizing:border-box;
    }
    html.desktop table#books {
        width: 100% !important;
        box-sizing:border-box;
    }
    div.right.uitext {
        float: left !important;
    }
    /* to make the page stay a certain width on my phone */
    form#perPageForm,
    form#sortForm,
    div#reviewPagination {
        display: block;
    }
    form#sortForm a {
        display: none;
    }
}

@-moz-document url-prefix("https://www.goodreads.com/book/") {
    /* single book page */
    div.rightContainer,
    div#controls,
    #premiumAdTop,
    span#rating_graph,
    div#choiceBadge,
    div#flashContainer,
    div.headroom-wrapper,
    div.searchBox.searchBox--navbar {
        display: none;
    }
    html.mobile div#AGtable{
        height:auto!important;
        overflow-y:auto!important;
        width:350px!important;
        display:block;
        visibility:visible;
        box-sizing:border-box;
    }
    html.mobile div.bigBox{
        width:80% !important;
        padding-left: 10px !important;
        padding-right: 10px !important;
        margin-left:auto !important;
        margin-right:auto !important;
        box-sizing:border-box;
    }
    html.mobile :is(div#AGtable>table,div#AGtable>table>tbody,div#AGtable>table>tbody>tr:nth-child(2),div#AGtable td.AGAVAILbookDetails){
        width:100%!important;
        height:100%!important;
        visibility:inherit;
        box-sizing:border-box;
    }
    html.mobile div#AGtable td.AGAVAILbookDetails{
        display:table-cell !important;
        box-sizing:border-box;
    }
    html.desktop .mainContentContainer .mainContent,
    html.desktop .mainContentContainer .mainContent .mainContentFloat .leftContainer {
        width: 100% !important;
        box-sizing:border-box;
    }
    html.withSiteHeaderTopFullImage .siteHeaderBottomSpacer {
        padding-bottom: 4rem;
    }
    html.desktop .mainContentContainer .mainContent .mainContentFloat {
        width: 92%;
        box-sizing:border-box;
    }
    html.desktop div[id].wtrButtonContainer,
    html.desktop .wtrButtonContainer .wtrLeft,
    html.desktop .wtrButtonContainer .wtrLeft span,
    html.desktop .wtrButtonContainer .wtrLeft button {
        font-size: 12px;
        line-height: 15px;
        vertical-align: 100%;
        height: 28px;
    }
    html.desktop .wtrButtonContainer .wtrLeft.wtrDown {
        padding: 0;
        border: 0;
        box-sizing:border-box;
    }
    html.desktop .wtrButtonContainer .wtrLeft button {
        position: relative;
        top: 3px;
        left: 2px;
        box-sizing:border-box;
    }
    span:is(#mobiasin, #calibreprefix):active {
        color:limegreen;
    }
    @media (max-width: 980px) {
        html.desktop #imagecol {
            position: absolute;
            left: 68%;
            box-sizing:border-box;
            /*top: 175px;*/
        }
        html.desktop #metacol {
            width: 67%;
            box-sizing:border-box;
        }
        div#AGtable table tr td:first-child {
            display: none !important;
        }
        td.AGAVAILSINGLEBOOK {
            width: 500px;
            box-sizing:border-box;
        }
        td.AGAVAILSINGLEBOOK>div {
            width: 50%;
            box-sizing:border-box;
        }
    }
    @media (min-width: 981px) {
        html.desktop .content {
            width: 960px;
            box-sizing:border-box;
        }
        html.desktop #imagecol {
            float: right;
            box-sizing:border-box;
        }
    }
}
