/* ==UserStyle==
@name           Goodreads personal modifications
@namespace      github.com/holyspiritomb
@version        1.22.7-11.3
@description    Making goodreads look nicer for me on my phone
@author         holyspiritomb
@homepageURL	https://github.com/holyspiritomb/personal-userstyles/blob/main/goodreads.user.css
@updateURL		https://github.com/holyspiritomb/personal-userstyles/raw/main/goodreads.user.css
@var text		mobile-font-size "Mobile site font size" 12pt
@var text		desktop-font-size "Desktop site font size" 22pt
@var text		default-font "Default font" Lato
==/UserStyle== */

@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

@-moz-document url-prefix("https://www.goodreads.com/") {

	#bookTitle,
	h1.bookTitle cite,
	cite.bookTitle,
	#bookAuthors .authorName,
	#bookAuthors .by,
	#description,
	h1,
	* {
		font-family: var(--default-font), Roboto, sans-serif !important;
	}

	div.libraryExtension,
	div.libraryExtension #libraryUserMessage {
		font-family: var(--default-font), unset !important;
		background-color: unset !important;
		color: #666 !important;
	}

	div.libraryExtension #libraryUserMessage {
		border: unset !important;
	}

	div.libraryExtension {
		border: 1px dashed #555 !important;
		background: unset !important
	}

	div.libraryExtension .libSearch {
		background: -webkit-linear-gradient(top, #111111 0%, #333333 100%) !important;
		background: linear-gradient(top, #111111 0%, #333333 100%) !important;
		border: unset !important;
		font-size: unset !important;
		color: #49fb97 !important;
	}

	div.libraryExtension a,
	div.libraryExtension .libextTitle,
	div.libraryExtension a.libTitle:link,
	div.libraryExtension .Library,
	div.ondemand a.libSearch.searchOne {
		color: #49fb97 !important;
		font-family: unset !important;
	}

	div.libraryExtension .libextTitle {
		padding-top: 10px;
		padding-bottom: 10px;
		font-size: large !important;
		text-decoration: underline;
		font-weight: bold;
	}
	
    html[data-darkreader-scheme="dark"] img.AGaudio,
    html[data-darkreader-scheme="dark"] a[href^="http://libgen.rs"] img {
        filter: invert(100%);
    }
	/* display which library has the book */
	html.desktop td.AGcol > div::before,
	td.AGAVAILSINGLEBOOK > div::before{
		content:attr(class)":";
		font-weight:bold;
	}
	
	html.desktop footer.responsiveSiteFooter{
		display:none;
	}

}

@-moz-document url-prefix("https://www.goodreads.com/list/show/") {
    /* listopia */
    div.rightContainer {
        display: none;
    }
    html.desktop .content {
        width: 100%;
    }

    html.desktop .mainContentContainer,
    html.desktop .mainContentContainer .mainContent,
    html.desktop .mainContentContainer .mainContent .mainContentFloat,
    html.desktop .mainContentContainer .mainContent .mainContentFloat .leftContainer {
        width: 100%;
    }
}

@-moz-document url-prefix("https://www.goodreads.com/review/list/") {

	div#leftCol,
	div#leaderCol,
	div#leadercol,
	div#flashContainer,
	div.siteHeader,
	div.siteHeaderBottomSpacer,
	div#controls,
	th.header.date_added,
	th.header.date_pub,
	td.field.date_added,
	td.field.date_pub,
	td.field.actions,
	th.header.actions{
		display: none;
	}
    html.desktop .mainContentContainer,
    html.desktop .mainContentContainer .mainContent,
    html.desktop .mainContentContainer .mainContent .mainContentFloat,
    html.desktop .mainContentContainer .mainContent .mainContentFloat .leftContainer {
        width: 100%;
    }
	
	/* to prevent Available Reads and Available Reads 2 on mobile from displaying its search results multiple times */
	/* this is cosmetic and not actually preventing it from re-running search on already-searched books */
	
	html.mobile li[id^="book_list_item_"]>div[id]:not(:nth-child(5)) {
		display: none;
	}

	#AGtable .AGAVAIL,
	.libraryExtension {
		font-size: var(--mobile-font-size) !important;
	}

	div.libraryExtension {
		width: 70% !important;
		margin: auto;
	}

	html.desktop table#books {
		width: 100% !important;
	}

	html.mobile * {
		font-size: var(--mobile-font-size);
		line-height: 1.5em;
	}

	html.desktop * {
		font-size: var(--desktop-font-size);
		line-height: 2em;
	}

	div.right.uitext {
		float: left !important;
	}
	/* to make the page stay a certain width on my phone */
	form#perPageForm,
	form#sortForm,
	div#reviewPagination{
    		display:block;
	}
	
	form#sortForm a{
        	display:none;
    }

}

@-moz-document url-prefix("https://www.goodreads.com/book/") {

	div.rightContainer,
	div#controls,
	div.siteHeader,
	.siteHeaderBottomSpacer,
	#premiumAdTop {
		display: none;
	}

	html.desktop * {
		font-size: var(--desktop-font-size);
		line-height: 2em;
	}

	html.desktop div.leftContainer {
		width: 800px;
	}

	html.desktop #metacol {
		width: 625px;
	}

	div#AGtable table tr td:first-child {
		display: none !important;
	}

	html.mobile * {
		font-size: var(--mobile-font-size) !important;
		line-height: 2em;
	}
}
