/* ==UserStyle==
@name           Skeetdeck mobile customized
@namespace      github.com/holyspiritomb/userstyles
@version        2.0.1
@description    Modifies Skeetdeck for my specific mobile device and preferences
@author         holyspiritomb
@updateURL      https://github.com/holyspiritomb/userstyles/raw/main/skeetdeck/mobile.user.css
@homepageURL    https://github.com/holyspiritomb/userstyles/blob/main/skeetdeck/mobile.user.css
@preprocessor   default
@var            select accent-color "Accent Color" {
    "Rose Pine Foam": "156 207 216",
    "Rose Pine Gold": "246 193 119",
    "Rose Pine Iris*": "196 167 231",
    "Rose Pine Love": "235 111 146",
    "Rose Pine Pine": "49 116 143",
    "Rose Pine Rose": "235 188 186",
    "Rose Pine Subtle": "144 140 170"
}
@var           select borders-color "Borders" {
    "Rose Pine Foam": "156 207 216",
    "Rose Pine Gold": "246 193 119",
    "Rose Pine Iris": "196 167 231",
    "Rose Pine Love": "235 111 146",
    "Rose Pine Pine": "49 116 143",
    "Rose Pine Rose": "235 188 186",
    "Rose Pine Highlight Low": "33 32 46",
    "Rose Pine Highlight Med": "64 61 82",
    "Rose Pine Highlight High*": "82 79 103"
}
@var           select dividers-color "Dividers" {
    "Rose Pine Foam": "156 207 216",
    "Rose Pine Gold": "246 193 119",
    "Rose Pine Iris": "196 167 231",
    "Rose Pine Love": "235 111 146",
    "Rose Pine Pine": "49 116 143",
    "Rose Pine Rose": "235 188 186",
    "Rose Pine Highlight Low": "33 32 46",
    "Rose Pine Highlight Med*": "64 61 82",
    "Rose Pine Highlight High": "82 79 103"
}
==/UserStyle== */
@-moz-document domain("skeetdeck.pages.dev") {

    :root {
        --rp-base: rgb(25, 23, 36);
        --rp-surface: rgb(31, 29, 46);
        --rp-overlay: rgb(38, 35, 58);
        --rp-muted: rgb(110, 106, 134);
        --rp-subtle: rgb(144, 140, 170);
        --rp-text: rgb(224, 222, 244);
        --rp-love: rgb(235, 111, 146);
        --rp-gold: rgb(246, 193, 119);
        --rp-rose: rgb(235, 188, 186);
        --rp-pine: rgb(49, 116, 143);
        --rp-foam: rgb(156, 207, 216);
        --rp-iris: rgb(196, 167, 231);
        --rp-highlight-low: rgb(33, 32, 46);
        --rp-highlight-med: rgb(64, 61, 82);
        --rp-highlight-high: rgb(82, 79, 103);

        --rp-moon-base: rgb(35, 33, 54);
        --rp-moon-surface: rgb(42, 39, 63);
        --rp-moon-overlay: rgb(57, 53, 82);
        --rp-moon-muted: rgb(110, 106, 134);
        --rp-moon-subtle: rgb(144, 140, 170);
        --rp-moon-text: rgb(224, 222, 244);
        --rp-moon-love: rgb(235, 111, 146);
        --rp-moon-gold: rgb(246, 193, 119);
        --rp-moon-rose: rgb(234, 154, 151);
        --rp-moon-pine: rgb(62, 143, 176);
        --rp-moon-foam: rgb(156, 207, 216);
        --rp-moon-iris: rgb(196, 167, 231);
        --rp-moon-highlight-low: rgb(42, 40, 62);
        --rp-moon-highlight-med: rgb(68, 65, 90);
        --rp-moon-highlight-high: rgb(86, 82, 110);

        --rp-dawn-base: rgb(250, 244, 237);
        --rp-dawn-surface: rgb(255, 250, 243);
        --rp-dawn-overlay: rgb(242, 233, 222);
        --rp-dawn-muted: rgb(152, 147, 165);
        --rp-dawn-subtle: rgb(121, 117, 147);
        --rp-dawn-text: rgb(87, 82, 121);
        --rp-dawn-love: rgb(180, 99, 122);
        --rp-dawn-gold: rgb(234, 157, 52);
        --rp-dawn-rose: rgb(215, 130, 126);
        --rp-dawn-pine: rgb(40, 105, 131);
        --rp-dawn-foam: rgb(86, 148, 159);
        --rp-dawn-iris: rgb(144, 122, 169);
        --rp-dawn-highlight-low: rgb(244, 237, 232);
        --rp-dawn-highlight-med: rgb(223, 218, 217);
        --rp-dawn-highlight-high: rgb(206, 202, 205);
        --rp-iris-tw: 196 167 231;
        --rp-love-tw: 235 111 146;
        --rp-gold-tw: 246 193 119;
        --rp-rose-tw: 235 188 186;
        --rp-pine-tw: 49 116 143;
        --rp-foam-tw: 156 207 216;
        --rp-moon-love-tw: 235 111 146;

        --secondary: 64 61 82;
        --background: 25 23 36;
        --background-dark: 33 32 46;
        /* --divider: var(--accent-color); */
        --divider: var(--dividers-color);
        --primary: 224 222 244;
        --accent: var(--accent-color);
        --rp-green-600: var(--rp-foam-tw);
        --rp-red-600: 235 111 146;
        --hinted: 64 61 82;
        --muted: 33 32 46;
        --muted-fg: 110 106 134;
    }

    .w-96 {
        width: 22rem;
    }
    *,
    :before,
    :after,
    .border {
        border-color: rgb(var(--borders-color));
    }
    .border-divider {
        border-color: rgb(var(--dividers-color));
        border-left-color: rgb(var(--dividers-color));
        border-right-color: rgb(var(--dividers-color));
        border-top-color: rgb(var(--dividers-color));
        border-bottom-color: rgb(var(--dividers-color));
    }
    .h-screen {
        height: 93vh;
    }
    .w-60 {
        width: 7.5rem;
    }
    input.grow {
        width: 100px;
    }
    .overflow-hidden:has(button.text-left) {
        overflow-y: scroll;
        scrollbar-width: none;
    }
    dialog {
        font-size: 0.8rem;
        line-height: calc(1.5 * 0.8rem);
    }
    dialog .overflow-hidden:has(.bg-secondary\/10) {
        border-width: 1px;
        border-style: solid;
        border-radius: 5px;
        border-color: rgb(var(--dividers-color));
        border-left-color: rgb(var(--dividers-color));
        border-right-color: rgb(var(--dividers-color));
        border-top-color: rgb(var(--dividers-color));
        border-bottom-color: rgb(var(--dividers-color));
        /* border-color: var(--rp-highlight-med) */
    }
    dialog .text-sm {
        font-size: .65rem;
        line-height: calc(0.65rem * 1.5);
    }
    dialog .text-de {
        font-size: .7rem;
        line-height: calc(0.7rem * 1.5);
    }
    dialog > .shadow-menu {
        border-width: 1px;
        border-style: solid;
        /* border-color: var(--rp-highlight-high); */
        border-color: rgb(var(--borders-color));
        background: var(--rp-surface);
    }
    button span.overflow-hidden.text-ellipsis.whitespace-nowrap {
        text-overflow: unset;
        text-wrap: unset;
        overflow-wrap: unset;
    }
    .object-cover + div.text-sm:has(p.break-words.line-clamp-2) {
        height: fit-content;
    }
    .object-cover + div.text-sm > p.break-words.line-clamp-2 {
        overflow-wrap: unset;
        text-overflow: unset;
        overflow: unset;
        font-size: 0.7rem;
        -webkit-line-clamp: unset;
        line-height: calc(1.5 * 0.7rem);
    }
    .text-ellipsis.overflow-hidden:has(span.text-primary.font-bold) {
        text-overflow: unset;
        overflow: unset;
        display: block;
    }
    .text-ellipsis.overflow-hidden:has(span.text-primary.font-bold) ~ span {
        display: block;
    }
    div.max-w-full > .object-cover,
    .object-cover.w-full {
        filter: blur(7px);
    }
    div.max-w-full > .object-cover:focus,
    .object-cover.w-full:focus,
    div.max-w-full > .object-cover:hover,
    .object-cover.w-full:hover {
        filter: none;
    }
    img.object-cover.w-full[src*="avatar"],
    img.object-cover.w-full[alt*=" painting of a bird"],
    img.object-cover.w-full[alt*=" woodcut of a "],
    img.object-cover.w-full[alt*="California license"] {
        filter: blur(0px);
    }
    .h-8 {
        height: 1.5rem
    }
    .w-8 {
        width: 1.5rem
    }
    .h-8 > svg[height = "1em"] {
        height: 1rem !important;
    }
    .w-8 > svg[width = "1em"] {
        width: 1rem !important;
    }
    .h-8.w-8:has(svg[height = "1em"][width = "1em"]) + span.text-de {
        line-height: 0.75rem;
    }
    input.grow {
        width: 100px;
    }
    .object-cover {
        object-fit: contain;
    }
    article span[role = "button"] > .border {
        background-color: var(--rp-surface);
        border-color: rgb(var(--borders-color));
        /* border-color: var(--rp-highlight-med); */
    }
    article .hover\:bg-secondary\/30 {
        background-color: var(--rp-surface);
    }
    a[target = "_blank"].outline-2 {
        background-color: var(--rp-surface);
    }
    a[target = "_blank"].outline-2 img.object-cover {
        object-fit: cover;
    }
    article .border-divider,
    article button.border,
    .border-divider {
        /* border-color: var(--rp-highlight-high); */
        border-color: rgb(var(--dividers-color));
    }
    .overflow-hidden:has(.line-clamp-6),
    .overflow-hidden .line-clamp-6 {
        overflow: unset;
        overflow-x: unset;
        overflow-y: unset;
        overflow-wrap: unset;
        text-overflow: unset;
        -webkit-line-clamp: unset;
    }
    article .text-red-600 {
        color: rgb(var(--rp-red-600) / var(--tw-text-opacity));
    }
    .text-green-600 {
        color: rgb(var(--rp-green-600) / var(--tw-text-opacity));
    }
    .vc-panel {
        min-height: 50%;
        max-height: 50vh;
    }
}
