/* ==UserStyle==
@name           dark id.loc.gov
@namespace      github.com/holyspiritomb/userstyles
@version        1.0.0
@description    Dark search interface.
@author         holyspiritomb
@updateURL      https://github.com/holyspiritomb/userstyles/raw/main/loc/dark-theme.user.css
@homepageURL    https://github.com/holyspiritomb/userstyles/blob/main/loc/dark-theme.user.css
@preprocessor   stylus
@var            color accentColor1 "Accent" "#c4a7e7"
@var            color accentColor2 "Secondary accent" "#9ccfd8"
@var            color borderColor "Borders" "#403d52"
@var            color linkColor1 "Link Color 1" "#eb6f92"
@var            color linkColor2 "Link Color 2" "#f6c177"
@var            color baseBg "Page Background" "#191724"
@var            color surfaceBg "Secondary Background" "#1f1d2e"
@var            color overlayBg "Overlay Background" "#26233a"
@var            color textColor "Text Color" "#e0def4"
==/UserStyle== */
@-moz-document domain("id.loc.gov") {
    :root {
        --rp-base: #191724;
        --rp-surface: #1f1d2e;
        --rp-overlay: #26233a;
        --rp-muted: #6e6a86;
        --rp-subtle: #908caa;
        --rp-text: #e0def4;
        --rp-love: #eb6f92;
        --rp-gold: #f6c177;
        --rp-rose: #ebbcba;
        --rp-pine: #31748f;
        --rp-foam: #9ccfd8;
        --rp-iris: #c4a7e7;
        --rp-highlight-low: #21202e;
        --rp-highlight-med: #403d52;
        --rp-highlight-high: #524f67;
        --rp-moon-base: #232136;
        --rp-moon-surface: #2a273f;
        --rp-moon-overlay: #393552;
        --rp-moon-muted: #6e6a86;
        --rp-moon-subtle: #908caa;
        --rp-moon-text: #e0def4;
        --rp-moon-love: #eb6f92;
        --rp-moon-gold: #f6c177;
        --rp-moon-rose: #ea9a97;
        --rp-moon-pine: #3e8fb0;
        --rp-moon-foam: #9ccfd8;
        --rp-moon-iris: #c4a7e7;
        --rp-moon-highlight-low: #2a283e;
        --rp-moon-highlight-med: #44415a;
        --rp-moon-highlight-high: #56526e;
        --rp-dawn-base: #faf4ed;
        --rp-dawn-surface: #fffaf3;
        --rp-dawn-overlay: #f2e9e1;
        --rp-dawn-muted: #9893a5;
        --rp-dawn-subtle: #797593;
        --rp-dawn-text: #575279;
        --rp-dawn-love: #b4637a;
        --rp-dawn-gold: #ea9d34;
        --rp-dawn-rose: #d7827e;
        --rp-dawn-pine: #286983;
        --rp-dawn-foam: #56949f;
        --rp-dawn-iris: #907aa9;
        --rp-dawn-highlight-low: #f4ede8;
        --rp-dawn-highlight-med: #dfdad9;
        --rp-dawn-highlight-high: #cecacd;
    }
    /* Insert code here... */
    a:link,
    a:visited,
    .bf-render :is(a, a:link, a:visited) {
        color: linkColor1;
        text-decoration: underline;
    }
    a:hover,
    a:active,
    a:focus,
    .bf-render :is(a:focus,a:hover,a:active) {
        color: linkColor2;
        text-decoration: underline;
    }
    body,
    div#container {
        color: textColor;
        background-color: surfaceBg;
        border-color: borderColor;
    }
    .footer {
        background-color: baseBg;
        border-top-color: borderColor;
        color: textColor
    }
    .footer-social-links-wrapper {
        border-bottom-color: borderColor;
    }
    .bf-render-link-box {
        background-color: overlayBg;
        color: textColor;
        border-color: borderColor;
        border-radius: 10px;
        width: 80%;
        margin-left: auto;
        margin-right: auto;
    }
    div.header-container,
    #header {
        background-color: baseBg;
        color: textColor;
    }
    #header .nav ul li a,
    a.btn-loc:link,
    a.btn-loc:visited {
        color: linkColor1;
        border: 1px solid borderColor;
        background-color: overlayBg;
    }
    #header .nav ul li a:hover,
    #header .nav ul li a:focus,
    a.btn-loc:hover,
    a.btn-loc:focus {
        border-color: borderColor;
        color: linkColor2;
        -webkit-box-shadow: 0px 0px 4px borderColor;
        -moz-box-shadow: 0px 0px 4px borderColor;
        box-shadow: 0px 0px 4px borderColor;
    }
    #header .nav ul li a,
    a.btn-loc {
        background: -webkit-gradient( linear, left bottom, left top, color-stop(0.24, baseBg color-stop(0.39, overlayBg)));
        /*background: -moz-linear-gradient(center bottom, rgb(243, 247, 247) 24%, rgb(255, 255, 255) 39%);*/
    }
    .header-search > form {
        border-color: borderColor;
    }
    .header-menu .header-menu-container > ul.header-menu-tertiary > li:first-child,
    .header-menu .header-menu-container > ul.header-menu-external > li:first-child {
        border-top: 1px solid borderColor;
    }
    #header .search input:focus {
        border-color: accentColor1 borderColor borderColor borderColor;
    }
    .header-menu.header-menu-active .header-menu-button,
    .header-menu .header-menu-container {
        background-color: overlayBg;
    }
    .header-menu .header-menu-container > ul a {
        color: linkColor1;
    }
    .header-menu .header-menu-button,
    .header-menu .header-menu-button .icon-times {
        color: accentColor1;
    }
    h1 {
        color: accentColor1;
    }
    h2,
    h3,
    h4,
    h5,
    h6 {
        color: accentColor2;
    }
    .bf-display-field :is(dt, dd) {
        color: textColor;
    }
    code,
    tt {
        border-bottom: 1px solid borderColor;
    }
    table th,
    table td {
        border-color: borderColor;
    }
    #branding h2 {
        color: textColor;
    }
    #branding h3 {
        color: var(--rp-subtle);
    }
}
