/* ==UserStyle==
@name           dark id.loc.gov
@namespace      github.com/holyspiritomb/userstyles
@version        1.0.0
@description    Dark interface, default values based on Rosé Pine. Customizable colors.
@author         holyspiritomb
@updateURL      https://github.com/holyspiritomb/userstyles/raw/main/loc/dark-theme.user.css
@homepageURL    https://github.com/holyspiritomb/userstyles/blob/main/loc/dark-theme.user.css
@preprocessor   stylus
@var            color accentColor1 "Accent" "#9ccfd8"
@var            color accentColor2 "Secondary accent" "#908caa"
@var            color borderColor "Borders" "#403d52"
@var            color linkMain "Link (main)" "#eb6f92"
@var            color linkActive "Link (active, focus, hover)" "#f6c177"
@var            color linkVisited "Link (visited)" "#c4a7e7"
@var            color baseBg "Page Background" "#191724"
@var            color surfaceBg "Secondary Background" "#1f1d2e"
@var            color overlayBg "Overlay Background" "#26233a"
@var            color textColor "Text Color" "#e0def4"
==/UserStyle== */
@-moz-document domain("id.loc.gov") {
    :root {
        --rp-base: #191724;
        --rp-surface: #1f1d2e;
        --rp-overlay: #26233a;
        --rp-muted: #6e6a86;
        --rp-subtle: #908caa;
        --rp-text: #e0def4;
        --rp-love: #eb6f92;
        --rp-gold: #f6c177;
        --rp-rose: #ebbcba;
        --rp-pine: #31748f;
        --rp-foam: #9ccfd8;
        --rp-iris: #c4a7e7;
        --rp-highlight-low: #21202e;
        --rp-highlight-med: #403d52;
        --rp-highlight-high: #524f67;
        --rp-moon-base: #232136;
        --rp-moon-surface: #2a273f;
        --rp-moon-overlay: #393552;
        --rp-moon-muted: #6e6a86;
        --rp-moon-subtle: #908caa;
        --rp-moon-text: #e0def4;
        --rp-moon-love: #eb6f92;
        --rp-moon-gold: #f6c177;
        --rp-moon-rose: #ea9a97;
        --rp-moon-pine: #3e8fb0;
        --rp-moon-foam: #9ccfd8;
        --rp-moon-iris: #c4a7e7;
        --rp-moon-highlight-low: #2a283e;
        --rp-moon-highlight-med: #44415a;
        --rp-moon-highlight-high: #56526e;
        --rp-dawn-base: #faf4ed;
        --rp-dawn-surface: #fffaf3;
        --rp-dawn-overlay: #f2e9e1;
        --rp-dawn-muted: #9893a5;
        --rp-dawn-subtle: #797593;
        --rp-dawn-text: #575279;
        --rp-dawn-love: #b4637a;
        --rp-dawn-gold: #ea9d34;
        --rp-dawn-rose: #d7827e;
        --rp-dawn-pine: #286983;
        --rp-dawn-foam: #56949f;
        --rp-dawn-iris: #907aa9;
        --rp-dawn-highlight-low: #f4ede8;
        --rp-dawn-highlight-med: #dfdad9;
        --rp-dawn-highlight-high: #cecacd;
    }
    :is(a, .bf-render a, .facet-link, .facet-link .facet-item) {
        color: linkMain;
        &:not(.facet-link):not(.facet-item){
            text-decoration: underline;
        }
        &:link {
            color: linkMain;
        }
        &:visited {
            color: linkVisited;
        }
        &:hover {
            color: linkActive;
        }
        &:active {
            color: linkActive;
        }
        &:focus {
            color: linkActive;
        }
    }
    .facet-box li a:hover{
        background-color: overlayBg;
        border-color: borderColor;
    }
    h2.facet-header {
        color: accentColor1 !important;
    }
    .facet-category {
        color: accentColor2 !important;
        &:before{
            color: accentColor2 !important;
        }
    }
    body,
    div#container, div.nav-pag-top, div.nav-pag-bot {
        color: textColor;
        background-color: surfaceBg;
        border-color: borderColor;
    }
    table.id-std {
        th {
            background-color: transparent;
        }
        tbody.tbody-group {
            background-color: baseBg !important;
            &:nth-of-type(2n) {
                background-color: surfaceBg !important;
            }
            a {
                text-decoration: underline;
                &[title][href^="/resources/works"] {
                    &::after {
                        /* book icon */
                        content: ' \1F4DA';
                    }
                }
            }
        }
        tr.alt {
            background-color: transparent;
            td {
                background-color: transparent;
            }
        }
    }
    /* .footer-social-links-wrapper { */
        /* border-bottom-color: borderColor; */
    /* } */
    .bf-render-link-box {
        background-color: overlayBg;
        color: textColor;
        border-color: borderColor;
        border-radius: 10px;
        width: 80%;
        margin-left: auto;
        margin-right: auto;
    }
    div.msg-info {
        background-color: baseBg;
        color: textColor;
        border-top-color: borderColor;
    }

    #header{
        background-color: baseBg;
        color: textColor;
        .nav {
            ul {
                li {
                    a {
                        background-color: overlayBg;
                        background: -webkit-gradient( linear, left bottom, left top, color-stop(0.24, baseBg color-stop(0.39, overlayBg)));
                        &:hover, &:focus {
                            border-color: borderColor;
     color: linkActive;
                            -webkit-box-shadow: 0px 0px 4px borderColor;
                            -moz-box-shadow: 0px 0px 4px borderColor;
                            box-shadow: 0px 0px 4px borderColor;

                        }
                    }
                }
            }
        }
        .search {
            input:focus {
                border-color: accentColor1 borderColor borderColor borderColor;
            }
        }
    }
    a.btn-loc {
        background: -webkit-gradient( linear, left bottom, left top, color-stop(0.24, baseBg color-stop(0.39, overlayBg)));
        &:link, &:visited {
            color: linkMain;
            border: 1px solid borderColor;
        }
        &:hover, &:focus {
            border-color: borderColor;
            color: linkActive;
            -webkit-box-shadow: 0px 0px 4px borderColor;
            -moz-box-shadow: 0px 0px 4px borderColor;
            box-shadow: 0px 0px 4px borderColor;
        }
    }
    .header {
        .header-container {
            background-color: baseBg;
            .header-row {
                .header-search {
                    &> form {
                        border-color: borderColor;
                    }
                    .header-search-toggle {
                        background-color: overlayBg;
                        border-width: 1px;
                        border-style: solid;
                        border-color: borderColor;
                        .icon.icon-search {
                            color: accentColor1;
                        }
                    }
                    &.header-search-close {
                        background-color: overlayBg;
                        color: textColor;
                        form#header-search-form {
                            select#header-search-select {
                                background-color: baseBg;
                                color: textColor;
                                option {
                                    color: textColor;
                                    background-color: baseBg;
                                }
                            }
                            input#header-search-input{
                                background-color: baseBg;
                                color: textColor;
                            }
                            .header-search-button[type="submit"] {
                                background-color: baseBg;
                                .icon.icon-search {
                                    color: accentColor1;
                                }
                            }
                        }
                    }

                }
                .header-menu {
                    .header-menu-button {
                        color: accentColor1;
                        .icon-times {
                            color: accentColor1;
                        }
                        .icon-bars {
                            color: accentColor1;
                        }

                    }
                    &.header-menu-active .header-menu-button {
                        background-color: overlayBg;
                    }
                    .header-menu-container {
                        background-color: overlayBg;
                        border: 1px solid borderColor;
                        border-top-left-radius: 5px;
                        border-bottom-left-radius: @border-top-left-radius;
                        border-bottom-right-radius: @border-top-left-radius;
                        & > ul {
                            & > a {
                                color: linkMain;
                            }
                            &.header-menu-tertiary {
                                & > li:first-child {
                                    border-top: 1px solid borderColor;
                                }
                            }
                            &.header-menu-external {
                                & > li:first-child {
                                    border-top: 1px solid borderColor;
                                }
                            }
                        }

                    }
                }
            }
        }
    }
    h1 {
        color: accentColor1;
    }
    h2,
    h3,
    h4,
    h5,
    h6 {
        color: accentColor2;
    }
    .bf-display-field :is(dt, dd) {
        color: textColor;
    }
    code,
    tt {
        border-bottom: 1px solid borderColor;
    }
    table {
        th {
            border-color: borderColor;
            &[scope="col"] {
                background-color: baseBg;
            }
        }
        td {
            border-color: borderColor;
        }
    }
    #branding h2 {
        color: textColor;
    }
    #branding h3 {
        color: accentColor2;
    }
    .facet-count {
        color: textColor;
    }
    .blue-lozenge {
        border-color: overlayBg;
        background-color: linkMain;
        color: @border-color !important;
    }
    .footer {
        background-color: baseBg;
        border-top-color: borderColor;
        color: textColor;
        &-social-links-wrapper {
            border-bottom-color: borderColor;
        }
    }
}
