/* ==UserStyle==
@name           Goodreads: Bunken Extension/Userscript Styling
@namespace      github.com/holyspiritomb
@version        0.0.1
@description    Modifications to make Bunken look better, to be used along with my main Goodreads styles.
@author         holyspiritomb
@homepageURL	https://github.com/holyspiritomb/personal-userstyles/blob/main/goodreads/bunken.user.css
@updateURL	https://github.com/holyspiritomb/personal-userstyles/raw/main/goodreads/bunken.user.css
==/UserStyle== */
@-moz-document url-prefix("https://www.goodreads.com/book/") {
    div.bigBox[style] {
        border-bottom: 0px !important;
        border-top: 1px solid #555 !important;
        box-sizing: border-box;
        font-family: "Lato" !important;
    }
    html.mobile div.bigBox,
    html.mobile div.bigBox[style] {
        width: 80% !important;
        padding-left: 10px !important;
        padding-right: 10px !important;
        margin-left: auto !important;
        margin-right: auto !important;
        font-family: "Lato" !important;
    }
}
