/* ==UserStyle==
@name           Goodreads: Library Extension Styling
@namespace      github.com/holyspiritomb
@version        0.0.7
@description    Modifications to make LibraryExtension look better, to be used along with my main Goodreads styles.
@author         holyspiritomb
@homepageURL	https://github.com/holyspiritomb/userstyles/blob/main/goodreads/libraryextension.user.css
@updateURL	https://github.com/holyspiritomb/userstyles/raw/main/goodreads/libraryextension.user.css
==/UserStyle== */

@-moz-document url-prefix('https://www.goodreads.com/') {

    div.libraryExtension {
        border-left: 0 !important;
        border-right: 0 !important;
        border-radius: 0% !important;
        background-color: transparent !important;
        font-family: Lato, sans-serif !important;
        color: inherit !important;
        margin-left: 0 !important;
        margin-right: 0 !important;
        max-height: 40vh !important;
        overflow-y: auto !important;
    }

    div.libraryExtension #libraryUserMessage,
    div.libraryExtension #libraryUserMessage div,
    div.libraryExtension #libraryUserMessage[data-name='demand'] {
        border: unset !important;
        font-size: inherit;
        font-family: inherit !important;
        background-color: inherit !important;
        color: inherit !important;
    }

    div.libraryExtension a,
    div.libraryExtension .libTitle,
    div.libraryExtension a .libTitle:link,
    div.libraryExtension a .link,
    div.libraryExtension .libName,
    div.libraryExtension select,
    div.libraryExtension .libextTitle,
    div.libraryExtension .libextTitle span,
    div.libraryExtension .libextTitle span a,
    div.libraryExtension .Library a.libTitle span,
    div.ondemand,
    div.ondemand a.libSearch.searchOne,
    div.libraryExtension .libSearch,
    div.libraryExtension .libHold,
    div.libraryExtension .libHold :link,
    div.libraryExtension .libMoreResults,
    div.libraryExtension .libMoreResults :link {
        color: inherit !important;
        font-family: Lato, sans-serif !important;
        font-size: inherit !important;
    }

    div.libraryExtension .libextTitle {
        text-decoration: underline;
        font-weight: bold;
    }

    div.libraryExtension a.libSearch {
        background: -webkit-linear-gradient(top, #111111 0%, #333333 100%) !important;
        background: linear-gradient(top, #111111 0%, #333333 100%) !important;
        border: 0 !important;
    }
}

@-moz-document url-prefix('https://www.goodreads.com/review/list/') {

    div.libraryExtension {
        width: 100% !important;
        box-sizing: border-box;
        font-size: inherit !important;
    }
}

@-moz-document url-prefix('https://www.goodreads.com/book/') {
    div.libraryExtension {
        border-bottom: 1px solid #555 !important;
        border-top: 1px solid #555 !important;
        border-left: 0 !important;
        border-right: 0 !important;
    }

    html:not(.desktop) div.libraryExtension {
        border-left: 1px solid #555 !important;
        border-right: 1px solid #555 !important;
        background-color: rgba(0, 0, 0, 50%) !important;
        backdrop-filter: blur(2px);
    }

    div.libraryExtension .libextTitle {
        padding-top: 10px;
        padding-bottom: 10px;
    }
}
