/* ==UserStyle==
@name           Goodreads personal modifications (phone)
@namespace      github.com/holyspiritomb
@version        1.22.11-6.0
@description    Making goodreads look nicer for me on my phone
@author         holyspiritomb
@homepageURL	https://github.com/holyspiritomb/userstyles/blob/main/goodreads/main-phone.user.css
@updateURL		https://github.com/holyspiritomb/userstyles/raw/main/goodreads/main-phone.user.css
==/UserStyle== */

@-moz-document url-prefix('https://www.goodreads.com/') {

    :root {
        --mobile-font-size: 12pt;
        --desktop-font-size: 22pt;
        --default-font: 'Lato', sans-serif;
    }

    @media (max-width: 980px) {

        div.content {
            margin: auto;
            box-sizing: border-box;
        }

        div.pageContent {
            background-color: rgba(0, 0, 0, 40%);
        }

        html.mobile[style],
        html.mobile div.siteHeader,
        html.withSiteHeaderTopFullImage .siteHeaderBottomSpacer,
        html.withAppInstallationBanner .siteHeader {
            top: 0px !important;
            margin-top: 0px !important;
        }

        html.mobile div#smartbanner {
            display: none;
        }

        :is(td.field, th.header):is(.avg_rating, .date_added, .date_pub, .date_pub_edition, .asin, .format, .rating) {
            display: none;
        }
    }

    /* new goodreads book pages */

    main.PageFrame__main.BookPage {
        background-color: rgba(0, 0, 0, 40%);
        border-radius: 5px;
        padding: 10px;
        box-sizing: border-box;
    }
    @media (min-width: 1200px) {
        main.PageFrame__main.BookPage {
            max-width: 90vw;
        }
    }
    @media (min-width: 981px) {
        div.content {
            width: 960px;
            margin: auto;
            box-sizing: border-box;
        }
        div.siteHeader {
            left: 0px !important;
        }
        html.withSiteHeaderTopFullImage .siteHeaderBottomSpacer {
            /* padding-bottom: 5rem !important; */
        }
    }
    html.mobile,
    html.mobile body {
        font-size: var(--mobile-font-size);
        font-family: var(--default-font);
        line-height: calc(2*var(--mobile-font-size));
    }
    html.desktop,
    html.desktop body {
        font-size: var(--desktop-font-size);
        font-family: var(--default-font);
        line-height: calc(2*var(--desktop-font-size));
    }
    h2.brownBackground,
    h2.brownBackground a {
        font-size: var(--desktop-font-size) !important;
        font-family: var(--default-font);
    }
    html:not(.mobile) ul.siteHeader__menuList > li.siteHeader__topLevelItem > a,
    html:not(.mobile) ul.siteHeader__menuList > li.siteHeader__topLevelItem > div > a > span {
        line-height: calc(1.5*var(--desktop-font-size));
        font-size: calc(0.75*var(--desktop-font-size));
        font-family: var(--default-font);
    }
    #bookTitle,
    h1.bookTitle,
    h1.bookTitle cite,
    cite.bookTitle,
    #bookAuthors .authorName,
    #bookAuthors .by,
    #description,
    h1,
    h1[data-testid='bookTitle'],
    span.ContributorLink__name[data-testid='name'] {
        font-family: var(--default-font) !important;
    }
    span.headerPersonalNav__flag {
        display: none;
    }
    #bookTitle {
        font-size: calc(2*var(--desktop-font-size));
        font-family: var(--default-font);
    }
    h1.bookTitle {
        font-size: calc(2*var(--mobile-font-size));
        font-family: var(--default-font);
    }
    html.desktop footer.responsiveSiteFooter,
    .siteHeader__topFullImageContainer {
        display: none;
    }
}

@-moz-document url-prefix('https://www.goodreads.com/list/show/') {
    /* listopia */
    div.rightContainer {
        display: none;
    }
    div#leaderCol {
        width: 100vw !important;
    }
    html.desktop .content {
        width: 100%;
        box-sizing: border-box;
    }
    html.desktop .mainContentContainer,
    html.desktop .mainContentContainer .mainContent,
    html.desktop .mainContentContainer .mainContent .mainContentFloat .leftContainer {
        width: 100%;
        box-sizing: border-box;
    }
    html.desktop .mainContentContainer .mainContent .mainContentFloat {
        width: 92%;
        box-sizing: border-box;
    }
}

@-moz-document url-prefix('https://www.goodreads.com/review/list/') {
    div#flashContainer,
    div#leadercol :is(div.myBooksNav > ul > li > span, div#header),
    div.myBooksSearch,
    div#leftCol,
    div#side {
        display: none;
    }
    html.desktop .mainContentContainer .mainContent {
        width: 100% !important;
        box-sizing: border-box;
    }
    html.desktop .mainContentContainer .mainContent .mainContentFloat {
        width: 98% !important;
        box-sizing: border-box;
    }
    .siteHeaderBottomSpacer {
        display: block;
    }
    @media (min-width: 500px) {
        html.desktop.withSiteHeaderTopFullImage .siteHeaderBottomSpacer {
            padding-bottom: 100px !important;
        }
    }
    ul.personalNav > li:not(:last-child) {
        display: none;
    }
    html.desktop table#books {
        width: 100% !important;
        box-sizing: border-box;
    }
    div.right.uitext {
        float: left !important;
    }

    /* to make the page stay a certain width on my phone */
    form#perPageForm,
    div#reviewPagination {
        display: block;
    }
    form#sortForm {
        display: none;
    }
}

/* single book page */
@-moz-document url-prefix('https://www.goodreads.com/book/') {
    div.rightContainer,
    div#controls,
    #premiumAdTop,
    span#rating_graph,
    div#choiceBadge,
    div#flashMessages,
    div#flashContainer,
    div#smartbanner {
        display: none;
    }
    html.desktop .mainContentContainer .mainContent,
    html.desktop .mainContentContainer .mainContent .mainContentFloat .leftContainer {
        width: 100% !important;
        box-sizing: border-box;
    }
    html.desktop .mainContentContainer .mainContent .mainContentFloat {
        width: 92%;
        box-sizing: border-box;
    }
    @media (max-width: 980px) {
        html.desktop #imagecol {
            position: absolute;
            left: 68%;
            box-sizing: border-box;
        }
        html.desktop #metacol {
            width: 67%;
            box-sizing: border-box;
        }
        html.mobile div.bookInfoGroup {
            width: calc(414px - 75px);
        }
    }
    @media (min-width: 981px) {
        html.desktop .content,
        html.desktop header {
            width: 960px;
            box-sizing: border-box;
        }
        html.desktop #imagecol {
            float: right;
            box-sizing: border-box;
        }
    }
}
