/* ==UserStyle==
@name           Goodreads personal modifications (sizes only)
@namespace      github.com/holyspiritomb
@version        1.22.10-31.0
@description    Making goodreads look nicer for me on my phone
@author         holyspiritomb
@homepageURL	https://github.com/holyspiritomb/userstyles/blob/main/goodreads/main.user.css
@updateURL		https://github.com/holyspiritomb/userstyles/raw/main/goodreads/main-adguard.user.css
==/UserStyle== */
@-moz-document regexp('https://www\\.goodreads\\.com/(?!book/add_to_books_widget/).*') {
    @media (min-width: 981px) {
        div.content {
            box-sizing: border-box;
            margin: auto;
        }
    }
    @media (min-width: 1200px) {
        main.PageFrame__main.BookPage {
            max-width: 90vw;
        }
    }
    main.PageFrame__main.BookPage,
    div.pageContent {
        background-color: rgba(0, 0, 0, 50%);
        border-radius: 5px;
        padding: 10px;
        box-sizing: border-box;
    }
    div.mainContentFloat {
        background-color: rgba(0, 0, 0, 50%) !important;
        backdrop-filter: blur(2px);
    }
    html.mobile[style],
    html.mobile div.siteHeader,
    html.withSiteHeaderTopFullImage .siteHeaderBottomSpacer,
    html.withAppInstallationBanner .siteHeader {
        top: 0 !important;
        margin-top: 0 !important;
    }
    html.withSiteHeaderTopFullImage .siteHeaderBottomSpacer {
        padding-bottom: 6rem !important;
    }
    html.mobile,
    html.mobile body {
        font-size: 12pt;
        line-height: calc(2*12pt);
    }
    html.desktop,
    html.desktop body {
        font-size: 18pt;
        line-height: calc(2*18pt);
    }
    #bookTitle,
    h1.bookTitle,
    h1.bookTitle cite,
    cite.bookTitle,
    #bookAuthors .authorName,
    #bookAuthors .by,
    #description,
    h1,
    h1[data-testid='bookTitle'],
    .gr-h1--serif,
    .gr-h2--serif,
    .gr-h3--serif,
    .gr-h4--serif,
    .gr-h5--serif,
    span.ContributorLink__name[data-testid='name'],
    .readable,
    .readable p,
    .readable ol,
    .readable ul,
    .readable td,
    .readable th {
        font-family: 'Lato', Lato, Roboto, sans-serif !important;
    }
    h2.brownBackground,
    h2.brownBackground a {
        font-size: 18pt !important;
    }
    #bookTitle {
        font-size: calc(2*18pt);
    }
    h1.bookTitle,
    h1.bookTitle cite,
    cite.bookTitle {
        font-size: calc(2*12pt);
    }
}

@-moz-document url-prefix('https://www.goodreads.com/review/list/') {
    /* my booklists */
    html.desktop table#books {
        width: 100% !important;
        box-sizing: border-box;
    }

    /* to make the page stay a certain width on my phone */
    form#perPageForm,
    form#sortForm,
    div#reviewPagination {
        display: block;
    }
    div#leftCol{
        display: none;
    }
}

@-moz-document url-prefix('https://www.goodreads.com/book/') {
    /* single book page */
    #premiumAdTop,
    span#rating_graph,
    div#choiceBadge,
    div#flashContainer,
    div#smartbanner {
        display: none;
    }
}
